In [2]:
import pandas as pd
import os

In [16]:
# import data
# raw questionnaire data
qdata = pd.read_csv("data_tu-helpfulness-of-xai.csv", header=0, sep='\t')
# create refactored data

data = []
rdata = pd.DataFrame(data)
column_names = ["question_id", "questionnaire_number", "question_number", "classification_result","user_decision_yes","user_decision_no","method","model"]
rdata = pd.DataFrame(columns = column_names)
rdata.head()

Empty DataFrame
Columns: [question_id, questionnaire_number, question_number, classification_result, user_decision_yes, user_decision_no, method, model]
Index: []

In [5]:
# extract feedback (column FB01_01)
feedback = qdata["FB01_01"].dropna()
feedback.to_csv("feedback.csv")

In [6]:
# get question ids
q_ids = qdata.columns.values[6:294]
rdata["question_id"] = q_ids

In [11]:
# fill questionnaire & question ids
i = 1
j = 1
k = 0
for i in range(1,13):
    for j in range(1,25):
        if k > 287:
            break
        rdata.at[k, 'questionnaire_number'] = i
        rdata.at[k, 'question_number'] = j
        k += 1
rdata.head()

,question_id,questionnaire_number,question_number,classification_result,user_decision_yes,user_decision_no,method,model
0,B101,1,1,NaN,5,5,NaN,NaN
1,B102,1,2,NaN,5,5,NaN,NaN
2,B103,1,3,NaN,7,3,NaN,NaN
3,B104,1,4,NaN,7,3,NaN,NaN
4,B105,1,5,NaN,8,2,NaN,NaN

In [14]:
# fill user answers main part
k = 0
for i in range(6,294):
    yes = (qdata.iloc[:, i] == 1).sum()
    no = (qdata.iloc[:, i] == 2).sum()
    rdata.at[k, 'user_decision_yes'] = yes
    rdata.at[k, 'user_decision_no'] = no
    k+=1

,question_id,questionnaire_number,question_number,classification_result,user_decision_yes,user_decision_no,method,model
0,B101,1,1,NaN,5,5,NaN,NaN
1,B102,1,2,NaN,5,5,NaN,NaN
2,B103,1,3,NaN,7,3,NaN,NaN
3,B104,1,4,NaN,7,3,NaN,NaN
4,B105,1,5,NaN,8,2,NaN,NaN

## Demographic Questions Entschl√ºsselung:

DE02 - Education:
1 - Highschool
2 - Undergraduate
3 - Graduate
4 - Postgraduate
5 - PhD
6 - Other
7 - Trade School (ger.: "Ausbildung")

DE07 - ML Experience
1 - Not at all
2 - Under 1 year
3 - Between 1 and 3 years
4 - Between 3 and 5 years
5 - More than 5 years

DE09 - XAI Experiece
1 - Extremely helpful
2 - Very helpful
3 - Somewhat helpful
4 - Not so helpful
5 - Not at all helpful

DE05 - Visual Impairment
1 - yes
2 - no

In [ ]:
# fill user answers demographical questions

In [ ]:
os.remove("refactored_data.csv")
rdata.to_csv("refactored_data.csv")

## TODO fill the rest